cuda_python; sys_platform == 'linux'
elevenlabs
ffmpeg_python
moviepy
numpy
openai
opencv_python
Pillow
pydub
PyOpenGL
PySDL2
pysdl2-dll
replicate
Requests
rich
setuptools
simpleaudio
sounddevice
torch
tqdm
