elevenlabs
ffmpeg
ffmpeg_python
matplotlib
moviepy
numpy
openai
opencv_python
Pillow
pygame
pynput
pydub
python-osc
PyOpenGL
PySDL2
PyYAML
pysdl2-dll
replicate
Requests
rich
setuptools
simpleaudio
sounddevice
tqdm
pyusb
zmq
