cuda-python; sys_platform == 'linux'
fal-client
elevenlabs
ffmpeg
ffmpeg_python
matplotlib
moviepy
numpy
openai
opencv_python
Pillow
pygame
pynput
pydub
python-osc
PyOpenGL
PySDL2
PyYAML
pysdl2-dll
replicate
Requests
rich
setuptools
simpleaudio
sounddevice
tqdm
pyusb
pyzmq
aiortc>=1.7.0
aiohttp>=3.8.0
